@media only screen and (max-width: 768px) {
    ul#mobile-menu-show {
        display: none;
    }
    div#type-product li {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    div#type-product li {
        width: 100%;
    }
}
