/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
}

@font-face {
    font-family:"pn-regular2";
    src: url("fonts/pn-regular2.ttf");
}
@font-face {
	font-family:"pn_semibold_gdi";
    src: url("fonts/pn_semibold_gdi.ttf");

}

body * {

	font-family: "pn-regular2" !important;
}

/*=========== COMMON ===========*/
div#page-wrap {
	width: 100%;
	margin: 0 auto;
}
.clear {
	clear: both;
}

/*=========== HEADER-WRAP ===========*/
div#header-wrap {
	max-width: 1200px;
	margin: 0 auto;
}
div#header-wrap h1.logo {
	display: block;
	width: 30%;
	float: left;
}
div#header-wrap h1.logo > a {
	display: block;
	width: 120px;
	height: 46px;
	margin-top: 15px;
}
div#header-wrap h1.logo > a span {
	display: block;
	text-indent: -99999px;
	width: 100%;
	height: 46px;
	background: url("images/logo.png") no-repeat;
	background-size: cover;
}
div#header-wrap div.menu-nav-search {
	width: 70%;
	float: right;
}
div#header-wrap div.menu-nav-search ul.menu-nav {
	width: 80%;
	float: left;
	margin-top: 28px;
	position: relative;
	display: inline-block;
}

div#header-wrap div.menu-nav-search ul.menu-nav li.menu-nav-li {
	float: left;
}
div#header-wrap div.menu-nav-search ul.menu-nav li.menu-nav-li > a {
	display: block;
	margin: 0 10px;
	text-decoration: none;
	font-size: 15px;
	padding: 6px;
	text-transform: uppercase;
	color: #333333;
	border-top: 1px solid #333333;
	font-weight: bold;

}
div#header-wrap div.menu-nav-search a.mobile-menu {
	display: none;
}
.show {display: block;}

div#header-wrap div.menu-nav-search ul.menu-nav li.menu-nav-li > a:hover {
	background-color: #636161;
	color: #f1f1f1;
}
div#header-wrap div.menu-nav-search p.search {
	width: 20%;
	float: right;
}
div#header-wrap div.menu-nav-search p.search > a {
	display: block;
	width: 18px;
	height: 18px;
	margin-top: 24px;
	background: url("images/icon-search.png") no-repeat;
	text-indent: -99999px;
}


div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #898989;
    width:1100px;
    height:300px;
    z-index: 1;
    transform: translate(-40%, 0%);
}
div.dropdown-content p {
	color: white;
	font-size: 20px;
}

 .dropbtn:hover .dropdown-content {
    display: block;
    content: "Sản phẩm >";
}

div.dropdown-content a {
	text-decoration: none;
	color: white;
	overflow: auto;
	display: block;
	text-align: left;
	padding: 5px 0px 5px 20px;
}

div.dropdown-content a:hover {
	color: black;
}



div.dropdown-content div.drd-ctn-men,
div.dropdown-content div.drd-ctn-women {
	width: 49%;
	margin:20px auto;
	text-align: center;
	float: left;
}
div.dropdown-content div.drd-ctn-men {
	border-right: solid 1px white;
}

div.dropdown-content div.drd-ctn-men div,
div.dropdown-content div.drd-ctn-women div {
	float: left;
	width: 33%;
	margin: 20px auto;
}


div.dropdown-content li div.drd-ctn-women div a {
	text-decoration: none;
	color: white;
}


div.dropdown-content div.drd-ctn-men ul {
	list-style: circle;
	padding-left: 40px;
}

div.dropdown-content div.drd-ctn-men li a {
	text-align: left;
	font-size: 12.5px;
	display: block;
	padding:5px 0px;
}

div.border {
	border-right: 1px solid white;
}


/*=========== SLIDE-SHOW ===========*/

div#slide-show {
	max-width: 1900px;
	max-height: 945px;
	width: 100%;
	margin: 0px auto;
	position: relative;
	text-align: center;
	display: block;
	margin-top: 20px;
}
div#slide-show div.slide-show-images{
	display: none;
}


div#slide-show a.prev,
div#slide-show a.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: black;
    font-weight: bold;
    font-size: 25px;

}
div#slide-show a.prev {
	left: 0;
}
div#slide-show a.next {
	right: 0;
}

div#slide-show a:hover {
	color: white;
}
div#slide-show div#dot {
	width: 100%;
	position: absolute;
	text-align: center;
	margin-top: -30px;
}

div#slide-show div#dot span.dot {
	
	cursor: pointer;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	background-color: white;

}

div#slide-show div#dot span.dot:hover {
	background-color: blue;
}
/* Fading animation */
div.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4;}
	to {opacity: 1;}
}
/* Fading animation */




/*=========== SUB-MENU ===========*/
div#sub-menu {
	max-width: 1200px;
	margin: 0 auto;
}
div#sub-menu ul {
	width:60%;
	float: left;
	margin-left: 20%;
	list-style: none;
}

div#sub-menu li {
	float: left;
	padding-top: 20px;
	
}

div#sub-menu a {
	text-decoration: none;
	color:black;
	display: block;
	margin:0 10px;

}
div#sub-menu a:hover {
	color: blue;
}

div#sub-menu p.phone-contact {
	float: right;
	width: 20%;
	padding-top: 20px;
}



/*=========== TYPE-PRODUCT===========*/

div:after{
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
    zoom: 1;
}

div#type-product {
	max-width: 1200px;
	margin: 20px auto;
	
}
div#type-product ul {
	width: 100%;
	display:block;
	overflow: hidden;
	margin: 0 auto;
}

div#type-product li {
	width: 25%;
	text-align: center;
	float: left;
	display:inline-block;
}

div#type-product li:after {
	content: "";
    position: absolute;
    top: -300%;
    left: -210%;
    width: 200%;
    height: 300%;
    opacity: 0;
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    background: transparent;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%) repeat scroll 0 0;
    background: -moz-linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%) repeat scroll 0 0;
    background: -webkit-linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%) repeat scroll 0 0;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=1 );
}
div#type-product li:hover:after{
	opacity: 1;
    top: 70%;
    left: 70%;
    transition-property: left, top, opacity;
    -moz-transition-property: left, top, opacity;
    -o-transition-property: left, top, opacity;
    -webkit-transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    -moz-transition-duration: 0.7s, 0.7s, 0.15s;
    -o-transition-duration: 0.7s, 0.7s, 0.15s;
    -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
}

div#type-product li img {
	display: block;
	max-width: 90%;
	margin: 0 auto;
}



/*==============list-product==========*/
div.product-image {
	width: 100%;
	margin: 20px auto;
}

div.common-product h2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;

}

div#list-product {
	margin-bottom: 50px;
}

div#list-product >p {
	font-size: 12px;
	font-weight: bold;
	margin:10px auto;
	text-align: center;
	text-transform: uppercase;
}
div#list-product >p a {
	text-decoration: none;
	color: #898989;
}

div#list-product >p a:active {
	color: black;
}

div#list-product ul {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}


div#list-product li {
	float: left;
	text-align: center;
	width: 24.9%;
	display: block;
	height: 441px;
	margin: 10px auto;
}
div#list-product li:hover {
	border:0.5px solid #adadad;
	box-sizing: border-box;
}

div#list-product li img {
	display: block;
	max-height: 340px;
	width: 80%;
	margin:0 auto;
}

div#list-product li a {
	text-decoration: none;
	font-size: 14px;
	color: #363636;
	display: block;
	margin-top: 20px;
}
div#list-product li a:hover {
	color: blue;
}


div#list-product li p {
	color:red;
	margin: 10px auto;
}

div#list-product li p span {
	font-size: 12px;
	text-decoration: line-through;
	color:gray;
	margin:auto 3%;
}

/*============SHOP-ITEM=================*/


div#shop-system {
	width: 100%;
	position: relative;
	height: 340px

}
div#shop-system h2 {
	width: 100%;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 0;
}
div#shop-system-background {
	width: 100%;
	background-color: #F8F8F8;
	height: 200px;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
}


div#shop-system  ul {
	max-width: 1260px;
	margin: 0px auto;
	margin-top: 20px;
	max-height: 290px;

}

div#shop-system ul li {
	width: 31%;
	float: left;
	margin:0 1%;
	position: relative;
	height: 290px;
}

div#shop-system ul li img {
	display: block;
	max-width: 100%;
	max-height: 260px;
	position: absolute;
	z-index: 1;
}

div#shop-system ul li a {
	width: 55%;
	text-align: center;
	display: block;
	line-height: 39px;
	padding: 2% 1%;
	background-color: white;
	text-decoration: none;
	color: black;
	position: absolute;
	z-index: 2;
	margin:60% 20%;
	max-height: 39px;
	font-size: 14px;
}

div#shop-system ul li a:hover {
	color: blue;
}


/*===============FOLLOW================*/

div#follow {
	width: 100%;
	margin:0 auto;
	max-width: 1200px;
	height: 90px;
	background-color: black;
	color: white;
}

div#follow div.follow-input {
	width: 70%
}

div#follow div.follow-input ul {
	margin-left: 5%;
	margin-top: 3%;
	float: left;
}

div#follow div.follow-input ul li {
	display: inline-block;
	margin: auto 10px;
}

div#follow div.follow-input ul li span {
	color: blue;
}
div#follow div.follow-input ul li input {
	line-height: 20px;
}
div#follow div.follow-input ul li input:first-child {
	width: 150px;
}

div#follow div.follow-input ul li input:last-child {
	background-color: blue;
	color: white;
	margin-left: -5px;
}

div#follow div.follow-social {
	float: right;
	width: 30%;
}

div#follow div.follow-social ul {
	margin-right: 5%;
	margin-top: -10%;
	float: right;
}
div#follow div.follow-social ul li {
	display: inline-block;
}


/*===============FOOTER-WRAP================*/

div#footer-wrap{
	width: 100%;
	max-width: 1200px;
	height: 120px;
	margin: 0 auto;
	font-size: 12px;
}

div#footer-wrap div.f-w-left {
	width: 30%;
	float: left;
}
div#footer-wrap div.f-w-left p {
	text-align: right;
	padding-top: 6px;
}

div#footer-wrap div.f-w-center {
	width: 50%;
	float: left;
}

div#footer-wrap div.f-w-center a {

}
div#footer-wrap div.f-w-center p {
	text-align: center;
}
div#footer-wrap div.f-w-right {
	width: 20%;
	float: left;
}
div#footer-wrap div.f-w-right p {
	padding-top: 6px;
}
div#footer-wrap div.f-w-right a {
	text-decoration: none;
	color: black;
}

div#footer-wrap div.f-w-right a:hover {
	color: blue;
}



